
<div class="bg-primary text-white w-full sm:px-2">
  <div class="lg:container lg:mx-auto py-3 ">
    <div class="flex w-full items-center">
      <span class="sm:hidden lg:inline-flex flex-1 text-sm">Punter this medium needs to be more dynamic, for drive awareness</span>
      <div class="flex-1 lg:text-end">
        <span class="text-sm">
          <i class="fa-solid fa-location-dot text-black"></i>
          4580 Jordan Rd, Greer, SC 29651
        </span>
      </div>
      <div class="flex-1 flex justify-end gap-x-8 items-center">
        <a href="javascript:void(0)" class="fa-brands fa-facebook-f"></a>
        <a href="javascript:void(0)" class="fa-brands fa-twitter"></a>
      </div>
    </div>
    
  </div>
</div>
