.main-img {
    background-image: url('../../assets/images/troy-mortier-eKY6_9W_iqY-unsplash.jpg');
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    position: relative;
    
}

.img-overlay {
    position: absolute;
    background-color: rgba($color: #000000, $alpha: .70);
    width: 100%;
    height: 100%;
    top: 0;
}

h4 {
    margin-bottom: 24px;
}


.parallax {
    background-image: url('../../assets/images/shane-mclendon-EN1tF2EG-50-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 750px;
}

.gallery-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 325px;
    position: relative;
    .gallery-overlay {
        display: none;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: .80);
        cursor: pointer;
        .gallery-content {
            text-align: center;
            height: 100%;
            i {
                margin-bottom: 10px;
            }
        }
    }
    &:hover {
        .gallery-overlay {
            display: inherit;
        }
    }
}

