<section class="main-img">
  <div class="img-overlay text-center pt-24 sm:px-6">
    <h1 class="text-white">Some Header</h1>
    <h3 class="text-white">Face time do i have consent to record this meeting</h3>
    <button type="button" class="primary-button-open-white large-button mt-36">SEE OUR RECENT PROJECTS</button>
  </div>
</section>

<section class="bg-white pt-16">
  <div class="lg:container lg:mx-auto sm:px-6">
    <div class="lg:columns-2 sm:columns-1">
      <div class="flex-1 flex gap-8 mb-16">
        <div class="flex-1">
          <img class="icons" src="assets/icons/4137150_building_construction_industry_roller_steam_icon.png">
        </div>
        <div class="flex-1">
          <h4>Subtitle Header</h4>
          <p class="flex-1">Eum voluptates unde quo illum corrupti eos minima consequuntur. Aut totam dolor cum voluptates minus non accusantium molestias est similique eius quo quisquam tenetur!</p>
        </div>
      </div>
      <div class="flex-1 flex gap-8 mb-16">
        <div class="flex-1">
          <img class="icons" src="assets/icons/4137155_building_construction_industry_wrench_icon.png">
        </div>
        <div class="flex-1">
          <h4>Subtitle Header</h4>
          <p class="flex-1">Lorem ipsum dolor sit amet. Animi adipisci et corporis animi qui earum aliquid eum unde blanditiis qui nisi ducimus est laudantium sequi. Est fugiat repudiandae ab voluptatem eveniet non nesciunt consequatur.</p>
        </div>
      </div>
    </div>

    <div class="lg:columns-2 sm:columns-1" >
      <div class="flex-1 flex gap-8 mb-16">
        <div class="flex-1">
          <img class="icons" src="assets/icons/4137188_building_construction_industry_shovel_icon.png">
        </div>
        <div class="flex-1">
          <h4>Subtitle Header</h4>
          <p class="flex-1">Lorem ipsum dolor sit amet. Animi adipisci et corporis animi qui earum aliquid eum unde blanditiis qui nisi ducimus est laudantium sequi. Est fugiat repudiandae ab voluptatem eveniet non nesciunt consequatur.</p>
        </div>
      </div>
      <div class="flex-1 flex gap-8 mb-16">
        <div class="flex-1">
          <img class="icons" src="assets/icons/4137187_building_concrete_construction_industry_icon.png">
        </div>
        <div class="flex-1">
          <h4>Subtitle Header</h4>
          <p class="flex-1">Lorem ipsum dolor sit amet. Eos quibusdam numquam non ducimus dolorem qui optio aliquam qui consequuntur omnis.</p>
        </div>
      </div>
    </div>

  </div>
</section>

<section style="position: relative">
  <div class="parallax"></div>
  <div class="img-overlay">
    <div class="lg:container lg:mx-auto lg:py-48 sm:py-24 text-white sm:px-6">
      <div class="lg:w-4/5">
        <h2>About Us</h2>
        <h4>Et voluptatem ipsa nam beatae voluptatem ea voluptatibus dolor. Cum dolorem culpa eos adipisci sint eos quae praesentium qui necessitatibus doloremque aut quia eveniet rem galisum ipsum.</h4>
        <p>Lorem ipsum dolor sit amet. Et mollitia adipisci sed architecto laudantium est fugiat nobis qui voluptas nulla ut error praesentium qui dolorem aperiam. Hic soluta tempora ut maxime dicta sed voluptate minima aut dolores ullam qui esse eius et illum dolores. Aut excepturi dignissimos sed nesciunt incidunt ut doloremque architecto non repudiandae Quis. Et eligendi voluptatem sed minus officia qui quia ducimus et accusantium odit.</p> 
        <button type="button" class="primary-button large-button mt-8">READ MORE ABOUT US</button>
      </div>
    </div>
  </div>

</section>

<section class="bg-primary text-white py-16">
  <div class="lg:container lg:mx-auto sm:px-6">
    <div class="lg:w-4/5">
      <h2>Our Projects</h2>
      <h4>At illum accusamus aut consequuntur sint ut dolorem sint qui consectetur voluptatum? Ut accusantium minima vel nihil voluptas est architecto ducimus aut reprehenderit odio. Quo enim voluptatem ut soluta recusandae in quas dolores.</h4>
    </div>
  </div>
</section>

<section>
  <div class="grid lg:grid-cols-3 sm:grid-cols-1 md:grid-cols-2 gap-0">
    <div class="gallery-img" *ngFor="let img of images; index as i" [ngStyle]="{'background-image': 'url('+ img.img +')'}">
      <div class="gallery-overlay text-white" (click)="openGallery(i)">
        <div class="gallery-content pt-28">
          <i class="fa-solid fa-magnifying-glass-plus text-3xl"></i>
          <h4>{{img.header}}</h4>
        </div>
      </div>
    </div>
  </div>

  <app-gallery (close)="showGallery = false" [imgs]="images" [currentImageIndex]="currentIndex" *ngIf="showGallery" ></app-gallery>

</section>

<section class="bg-neutral-800 text-white py-8">
  
  <div class="lg:container sm:px-6 lg:px-96">
    
    <div class="grid lg:grid-flow-col lg:auto-cols-max">
      <div class="mt-8 lg:w-[500px]">
        <h2>Contacts</h2>
        <div class="flex mb-4 text-lg">
          <div class="mr-4">
            <i class="fa-solid fa-location-dot text-primary"></i>
          </div>
          <p>4580 Jordan Road, Greer, SC 29651</p>
        </div>
        <div class="flex mb-4 text-lg">
          <div class="mr-4">
            <i class="fa-solid fa-phone text-primary"></i>
          </div>
          <a href="tel:+18643169871">(864) 316-9871</a>
        </div>
        <div class="flex mb-4 text-lg">
          <div class="mr-4">
            <i class="fa-solid fa-envelope text-primary"></i>
          </div>
          <a href="tel:+18643169871">email@email.com</a>
        </div>
        <div class="sm:hidden lg:block">
          <img src="https://maps.googleapis.com/maps/api/staticmap?center=4580 Jordan Rd, Greer, SC 29651
              &markers=color:blue|size:mid|label:M|4580 Jordan Rd, Greer, SC 29651&zoom=14&size=450x435&key=AIzaSyCzQVOZ-dwdT7rxbA97pXpWFGfJfXWUGxY" />
        </div>
      </div>

      <div class="mt-8 lg:w-[650px]">
        <h2>Send Us A Message</h2>
        <form action="https://formspree.io/f/mrgdgbzw" method="POST">
          <div class="mb-6">
            <label for="txtFullName" class="font-semibold">Full Name</label>
            <input id="txtFullName" name="name" type="text" required class="bg-neutral-700 py-2 px-4 mt-2">
          </div>
          <div class="mb-6">
            <label for="txtEmail" class="font-semibold">E-mail</label>
            <input id="txtEmail" name="email" type="email" required class="bg-neutral-700 py-2 px-4 mt-2">
          </div>
          <div class="mb-6">
            <label for="txtCompany" class="font-semibold">Company</label>
            <input id="txtCompany" name="company" type="text" class="bg-neutral-700 py-2 px-4 mt-2">
          </div>
          <div class="mb-6">
            <label for="txtSubject" class="font-semibold">Subject</label>
            <input id="txtSubject" name="subject" required type="text" class="bg-neutral-700 py-2 px-4 mt-2">
          </div>
          <div class="mb-6">
            <label for="txtMessage" class="font-semibold">Message</label>
            <textarea id="txtMessage" name="message" type="text" required class="bg-neutral-700 py-2 px-4 mt-2 w-full h-[150px]"></textarea>
          </div>
          <div class="mb-6 text-right">
            <button type="submit" class="primary-button large-button">SEND MESSAGE</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</section>